USE [SamuraiDataCore]
GO
/****** Object:  StoredProcedure [dbo].[FilterSamuraiByNamePart]    Script Date: 07/05/2018 20:37:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FilterSamuraiByNamePart]
	-- Add the parameters for the stored procedure here
	 (@namepart varchar(50))
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from Samurais where name like '%' + @namepart + '%';
END
